body {
  background-color;
}

.border-radius {
  border: blue groove 12px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.border-img {
  height: 240px;
  width: 240px;
  position:relative;
  background-image: url('images/image-2.jpg');
  background-clip: padding-box;
  padding: 50px;
}

.wrap {
  width: 90px;
  overflow-wrap: break-word;
  background: darkgreen;
  color: orange;
}

.gradient {
  width:200px;
  height:200px;
  background-color: red;
  background: repeating-radial-gradient(rgba(255,255,255,0),red 30%, blue 50%);
  background: -webkit-repeating-radial-gradient(rgba(255,255,255,0),red 30%, blue 50%);
  background: -moz-repeating-radial-gradient(rgba(255,255,255,0),red 30%, blue 50%);
  background: -o-repeating-radial-gradient(rgba(255,255,255,0),red 30%, blue 50%);
  border-width: 20px;
  border-style: solid;
  border-image: linear-gradient(grey,black,red);
  border-image-slice:1;
}


.transition {
  height: 400px;
  width: 1000px;
  background: linear-gradient(to right, red, white, blue);
  transition: height 2s, width 5s, transform 5s;
}

.transition:hover {
  height: 100px;
  width: 100px;
  transform: rotate(180deg);
}
